@media only screen and (min-width: 1921px){
    #splash{
        #splashTitre{
            h2{
                font-size: 140px!important;
            } 
        }
        
    }
}

@media only screen and (min-width: 1441px) {
    #splash{
        #splashTitre{
                top: 400px;
            }
            .enSavoirPlus {
            background-color: #fff;
            width: 500px!important;
            height: auto;
            position: absolute;
            bottom: 0;
            padding: 40px 50px!important;
            font-family: apercu;
            font-size: 20px!important;
            #logoEncadre{
                width: 50%;
            }
        }

        h2{
            font-size: 100px!important;
            width: auto;
            letter-spacing: 3px;
            text-transform: uppercase;

        }
    }
}


#side-menu li:nth-child(4){
    margin-bottom:60px;
}
#barreH{
       .nav>li{
        display: inline-block;
        } 
    }
#splash {
    margin-top: -80px;
    background-size: cover;
    height: 100vh;
    background-position: center 0px;
    background-repeat: no-repeat;
    z-index: 50;
    position: relative;
    #btMenu{
        z-index: 9999999999999;
    }
    
    
    
    

}
#side-menu{
        //display: none;
        top:0;
        z-index: 999999;
        background-color: #f42534;
        position: absolute;
        width: 100vw;
        background: url(../images/background_red_min.png) repeat-y 5% 0,url(../images/background_red_min.png) repeat-y 95% 0,url(../images/background_red_min.png) repeat-y 50%,#f42534;
        li{
            display: block;

        }
        #p-droite, #p-gauche{
            height:100vh
        }
        #p-gauche{
            .circle-image{
                height: 400px;
                width: 400px;
                position: relative;
                z-index: 4;
                background-size: cover;
                display: block;
                border-radius: 50%;
                background-position: center center;
                margin-left: auto;
                margin-right: auto;
                top: 25vh;
                        }
            }
        
        #p-droite{
            .nav{
                padding-top:15vh;
            }
        }
        .bold{
            font-family: druk-medium;
            color: #f42534;
            font-size: 45px!important;
            letter-spacing: 2px;
            width: auto;
            display: table;
            -webkit-font-smoothing: antialiased;
            transform: skew(180deg,167deg);
            webkit-transform: skew(180deg, 167deg);
            ms-transform: skew(180deg, 167deg);
            -webkit-transform: skew(180deg, 167deg);
            text-transform: uppercase;

            a{
                color:white;
                padding-top:0px;
                padding-bottom:0px;
            }a:hover{
                background-color:#f42534;
            }a:focus{
                background-color:transparent;
            }

        }
        #menu-item-147{
            top:-8px;
        }
        #menu-item-154{
            top:5px;
        }
        .smaller{
            letter-spacing: 0.05em;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
            font-family: apercu;
            a{
                color: white;
                padding-top:5px;
                padding-bottom:5px;
            }a:hover{
                background-color:transparent;
            }a:focus{
                background-color:transparent;
            }
        }
    }
h1 {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    position: absolute;
}


#barreV,#pageContact{
    .social {
        position: absolute;
        bottom: 0px;
        right: 30px;
        li {
            color: #fff;
            list-style: none;
            margin-bottom: 40px;
        }
    }
    .social img {
        width: 20px;
        height: 20px;
        transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;

    }
    .social img:hover {
        opacity: 0.5;
    }
}

#logo {
    width: 200px;
    position: absolute;
    left: 60px;
    z-index: 999999999;
    top: 30px;
}

#barreH {
    width: 100%;
    z-index: 99999;
    height: 80px;
    background-color: #f42534;
    position: relative;
  
    .nav{
        top: 20px;
        right: 200px;
        position: absolute;
        li{
            a{
                padding: 10px 15px;
                color: white;
                font-family: apercu;
                letter-spacing: 0.05em;
                font-size: 18px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
            }a:hover{

            }
            a:focus{

            }
        }
    }

    button {
        position: absolute;
        right: 15px;
        top: 30px;
        float: right;
        border: none;
        background-color: #f42534;
        color: white;
        outline: none;
        font-family: Apercu;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-font-smoothing: antialiased;
    }
    button:hover{
            color: black;
    }
    
    button:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 75px;
        width: 0;
        height: 0;
        border-top: 20px solid #f42534;
        border-right: 20px solid transparent;
    }
}
#barreV {
    width: 80px;
    height: 100vh;
    background-color: #f42534;
    position: relative;
    margin-top: -80px;
    float: right;
    z-index: 999;
    height: 100vh;
    background-color: #f42534;
}

     #splashTitre {
        right: 75px;
        top: 280px;
        position: absolute;
        font-family: druk-medium;
        color: #fff;
        webkit-transform: skew(180deg,167deg);
        ms-transform: skew(180deg,167deg);
        -webkit-transform: skew(180deg,167deg);
        transform: skew(180deg,167deg);
    }
    h2 {
        font-size: 65px!important;
        width: auto;
        letter-spacing: 3px;
        text-transform: uppercase;
    }   

.enSavoirPlus {
    background-color: white;
    width: 450px;
    height: auto;
    position: absolute;
    bottom: 0;
    padding: 20px 30px 20px 30px;
    font-family: apercu;
    font-size: 20px;
    a {
        color: #f42534;
    }
    #logoEncadre{
    width: 40%;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: auto;
    }
}
@media only screen and (max-width: 992px) {
#splash {
        #logo {
            width: 350px;
        }
        #splashTitre {
            right: 50px;
            top: 500px;
            h2 {
                width: 372px;
                font-size: 70px!important;
            }
        }

    }
}



@media only screen and (max-width: 580px) {
    #barreV {
            width: 55px;
            height: 75vh;
            .social {
                bottom: -25px;
                right: 15px;
            }
        }

#splash {
        #logo {
            width: 150px;
            position: absolute;
            left: 20px;
        }
        
        
        #splashTitre {
            right: 50px;
            top: 220px;
            h2 {
                width: auto;
                font-size: 42px!important;
            }
        }
        .enSavoirPlus {
            padding-top: 15px;
            height: 25vh;
            font-size: 13px;
            width: 100%;
            #logoEncadre{
                width: 150px;
                padding-bottom: 10px;
            }
        }
    }
    #barreV {
            width: 55px;
            height: 75vh;
            .social {
                bottom: -25px;
                right: 15px;
            }
        }
}
@media only screen and (max-width: 360px) {

    #splash {
        .enSavoirPlus {
            padding-top: 5%;
            height: 30vh;
            font-size: 13px;
            width: 100%;
            #logoEncadre{
                width: 110px;
                padding-bottom: 10px;
            }
        }

    
    }
    #barreV {
            width: 55px;
            height: 70vh;
            .social {
                bottom: -25px;
                right: 15px;
            }
        }
}