 @media only screen and (min-width: 1900px) {
    #listeProfessionel {
    min-height: 79vh!important;
    max-height: 100vh!important;
    }
    .imgProfessionel {
    background-image: url(../images/prof_image.jpg);
    height: 80vh!important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/prof_image.jpg);
    }
    #pageContact{
        .containerFeed{
            position: relative;
            bottom: -90px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #formateursRenommes{
        .borderBox{
           .infoFormateur{
            width: 91%;
            } 
        }
    
    }
}
@media only screen and (min-width: 1790px){
    #pageContact{
        #formulaireInscription{
            #list-interet{
                width: 1210px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
@media only screen and (max-width: 1345px){
    #pageContact{
        #formulaireInscription{
            #mc_embed_signup{
               #list-interet{
                    width: 870px;
                    margin-left: auto;
                    margin-right: auto;
                }
                ul{
                    li{
                        width: 235px;
                        margin-right: 20px;
                        margin-left: 20px;
                    }
                } 
            }
            
        }
    }
}





/** Custom Select **/
/*-------------------------------------------------------------------------------------

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    margin-left: 50px;
    margin-right: 50px;
}
.custom-select-wrapper select {
    display: none;
}
.custom-select {
    position: relative;
    display: inline-block;
}
.custom-select-trigger {
    position: relative;
    display: block;
    width: 300px;
    font-size: 16px;
    font-family: apercu;
    font-weight: 300;
    padding-bottom:15px;
    color: #000;
    background: #ffffff;
    border-bottom-color: #000;
    border-bottom-style: solid;
    cursor: pointer;
}
.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    top: 30%;
    right: 30%;
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    width: 0;
    height: 0;
    border-bottom: 7px solid black;
    border-right: 7px solid transparent;
}
.custom-select.opened .custom-select-trigger:after {
    margin-top: 0px;
    -webkit-transform: rotate(-225deg) translateY(-50%);
    transform: rotate(-225deg) translateY(-50%);
}
.custom-options {
    position: absolute;
    display: block;
    top: 35%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 15px 0;
    border-top: 1px solid #060606;
    border-radius: 0px;
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
    background: #fff;  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s all ease-in-out;
}
.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
        z-index: 999;
}

.option-hover:before {
    background: #f9f9f9;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    background-color: #f2f2f2;
    line-height: 47px;
    font-family: apercu;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
    background: #f9f9f9;
}
/*-------------------------------------------------------------------------------------*/




#listeProfessionel {
    min-height: 100vh;
    position: relative;
    box-shadow: 0px 19px 46px rgba(0, 0, 0, 0.25);
    z-index: 999999;
    .borderBox {
        padding: 0!important;
        margin: 0!important;
        height: auto!important;
        position: relative!important;
    }
}
.borderRed {
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-left-style: solid;
    border-left-color: #f6515d;
    border-right-style: solid;
    border-right-color: #f6515d;
}
.borderWhite {
    width: 95%;
    display: table;
}
.clear {
    clear: both;
    display: block;
}
#proContent {
    .titreSection {
        webkit-transform: skew(180deg, 167deg);
        ms-transform: skew(180deg, 167deg);
        -webkit-transform: skew(180deg, 167deg);
        transform: skew(180deg, 167deg);
        margin-top: 80px;
        margin-left: -15px;
        text-transform: uppercase;
        position: inherit;
    }
    h3 {
        font-family: druk-medium;
        color: #f42534;
        font-size: 56px!important;
        width: 463px;
        letter-spacing: 5px;
    }
    ul {
        font-family: Apercu;
        font-size: 22px;
        list-style: none;
        margin-top: 65px;
        margin-bottom: 65px;
        margin-left: 30px;
        li {
            margin-bottom: 10px;
        }
    }
}
.imgProfessionel {
    background-image: url(../images/prof_image.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/prof_image.jpg);
}
#triangle-bottomright1 {
    width: 0;
    height: 0;
    border-bottom: 150px solid #f42534;
    /* float: right; */
    
    right: 0;
    bottom: 0px;
    position: absolute;
    border-left: 150px solid transparent;
}
#triangle-bottomright2 {
    width: 0;
    height: 0;
    border-bottom: 100px solid #f42534;
    /* float: right; */
    
    right: 77px;
    bottom: 0px;
    position: absolute;
    border-left: 100px solid transparent;
}
.carre {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%);
}
#approcheScientifique {
    height: auto;
    position: relative;
    /*background-image: url(../images/background_red.png);*/
    background:url(../images/background_red_min.png) repeat-y 5% 0,  
    url(../images/background_red_min.png) repeat-y 95% 0,
    url(../images/background_red_min.png) repeat-y center,
    #f42534; 
    z-index: 6;
    .carre {
        background-color: white;
        p {
            color: #f42534!important;
            position: absolute;
            z-index: 999999999;
            padding: 0;
            margin: 0;
            top: 12px;
            left: 20px;
        }
    }
    .carre::before {
        content: " ";
        display: table;
        width: 0;
        height: 0;
        border-top: 20px solid #f42534;
        border-right: 20px solid transparent;
    }
    .titreSection {
        webkit-transform: skew(180deg, 167deg);
        ms-transform: skew(180deg, 167deg);
        -webkit-transform: skew(180deg, 167deg);
        transform: skew(180deg, 167deg);
        position: absolute;
        text-transform: uppercase;
        left: 43%;
        width: 200px;
        top: 150px;
        z-index: 999;
    }
    h3 {
        font-family: druk-medium;
        color: white;
        font-size: 56px!important;
        width: 463px;
        letter-spacing: 5px;
    }
    p {
        font-family: apercu;
        color: #fff;
        font-size: 20px;
        width: 75%;
        position: relative;
        margin-left: 60px;
    }
}
img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.electrocardiogram {
    margin-left: auto;
    margin-right: auto;
}
.borderBox {
    padding: 250px 0 150px 0;
    height: auto;
    position: relative;
}
.leftBox {
    border-right: #f6515d;
    /* border-top-style: none; */
    /*border-right-style: solid;*/
    
    position: relative
}
.rightBox {
    position: relative
}
#formateursRenommes {
    
    height: auto;
    background:url(../images/background_grey_min.png) repeat-y 5% 0,  
    url(../images/background_grey_min.png) repeat-y 95% 0,
    url(../images/background_grey_min.png) repeat-y center,
    #f2f2f2;
    position: relative;
    z-index: 5;
    .carre {
        background-color: #f42534;
        p {
            color: white!important;
            position: absolute;
            z-index: 999999999;
            padding: 0;
            margin: 0;
            top: 12px;
            left: 20px;
            font-family: apercu;
            font-size: 20px;
        }
    }
    .carre::before {
        content: " ";
        display: table;
        width: 0;
        height: 0;
        border-top: 20px solid #f2f2f2;
        border-right: 20px solid transparent;
    }
    .titreSection {
        transform: skew(180deg, 167deg);
        position: absolute;
        text-transform: uppercase;
        left: 43%;
        width: 200px;
        top: 150px;
        z-index: 999;
    }
    .infoFormateur {
        background-color: white;
        padding-left: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 102%;
        left: -48px;
        p {
            font-family: apercu;
            color: #000;
            font-size: 20px;
            width: 75%;
            position: relative;
        }
        ul {
            font-family: apercu;
            color: #f42534;
            font-size: 20px;
            width: 75%;
            list-style: none;
            position: relative;
            padding-left: 0px;
            margin-bottom: 0;
        }
    }
}
.titreSection {
    -webkit-transform: skew(180deg, 167deg);
    transform: skew(180deg, 167deg);
    position: absolute;
    top: 150px;
    text-transform: uppercase;
    z-index: 999;
    font-family: druk-medium;
    color: #f42534;
    font-size: 56px!important;
    letter-spacing: 5px;
}
.leftBox {
    padding-left: 30px;
}
.imgBulle {
    position: relative;
    height: 300px;
    width: 565px;
    margin-left: auto;
    margin-right: auto;
    .bulle1 {
        /*background-image: url(../images/img_bulle1.jpg);*/
        background-size: 100%;
        border-radius: 50%;
        position: relative;
        right: 30px;
        float: right;
        height: 250px;
        width: 250px;
        box-shadow: 2px 2px 12px #888888;
    }
    .bulle2 {
        float: right;
        /*background-image: url(../images/img_bulle2.jpg);*/
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-size: 100%;
        position: relative;
        top: 135px;
        right: 345px;
        box-shadow: 2px 2px 12px #888888;
        z-index: 4;
    }
    .bulle3 {
        float: right;
        /*background-image: url(../images/img_bulle3.jpg);*/
        height: 130px;
        width: 130px;
        background-size: 100%;
        border-radius: 50%;
        position: relative;
        top: 70px;
        right: -290px;
        z-index: 2;
        box-shadow: 2px 2px 12px #888888;
    }
    .bulle4 {
        float: right;
        /*background-image: url(../images/img_bulle4.jpg);*/
        height: 100px;
        width: 100px;
        background-size: 100%;
        border-radius: 50%;
        position: relative;
        right: -340px;
        top: -110px;
        z-index: 2;
        box-shadow: 2px 2px 12px #888888;
    }
}
#formationsVariee {
    height: auto;
    position: relative;
    background:url(../images/background_red_min.png) repeat-y 5% 0,  
    url(../images/background_red_min.png) repeat-y 95% 0,
    url(../images/background_red_min.png) repeat-y center,
    #f42534; 
    z-index: 3;
    .carre {
        background-color: white;
        p {
            color: #f42534!important;
            position: absolute;
            z-index: 999999999;
            padding: 0;
            margin: 0;
            top: 12px;
            left: 20px;
        }
    }
    .carre::before {
        content: " ";
        display: table;
        width: 0;
        height: 0;
        border-top: 20px solid #f42534;
        border-right: 20px solid transparent;
    }
    .titreSection {
        webkit-transform: skew(180deg, 167deg);
        ms-transform: skew(180deg, 167deg);
        -webkit-transform: skew(180deg, 167deg);
        transform: skew(180deg, 167deg);
        margin-top: 150px;
        position: absolute;
        text-transform: uppercase;
        left: 43%;
        width: 200px;
        top: 0;
        z-index: 999;
    }
    ul {
        list-style: none;
        padding-left: 42px;
        color: white;
        font-family: apercu;
        font-size: 20px;
    }
    h3 {
        font-family: druk-medium;
        color: white;
        font-size: 56px!important;
        width: 463px;
        letter-spacing: 5px;
    }
    p {
        font-family: apercu;
        color: #fff;
        font-size: 20px;
        width: 75%;
        position: relative;
        /* bottom: 4px; */
        
        margin-top: 10px;
        padding-left: 45px;
        margin-bottom: 10px;
    }
    .infoFormation {
        margin-left: 15px;
    }
    .triangle {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 100%;
        }
    }
}
#pageContact {
    position: relative;
    background:url(../images/background_grey_min.png) repeat-y 5% 0,  
    url(../images/background_grey_min.png) repeat-y 95% 0,
    url(../images/background_grey_min.png) repeat-y center,
    #f2f2f2;
    z-index: 10;
    .titreSection {
        -webkit-transform: skew(180deg, 167deg);
        transform: skew(180deg, 167deg);
        position: relative;
        right: -5px;
        top: 10px;
        float: right;
        text-transform: uppercase;
        z-index: 2;
        font-family: druk-medium;
        color: #f42534;
        font-size: 80px!important;
        letter-spacing: 5px;
    }
    .containerFeed {
        position: relative;
        bottom: -180px;
    }
    .footerBloc{
        position:relative;
        height: 450px;
        .bg-photo{
            padding:0;
            height: 400px;
            .imgLienGauche{
             
                width: 98%;
                height: 100%;
                position: relative;
                left: 0;
                float: left;
                background-size:cover;
                background-position:center;
                background-repeat:no-repeat;
                .titreSection{
                    left:5%;
                    float: left;
                    top: 75px;
                    font-size: 56px!important;
                    width: 40%;
                    color:#ffffff;
                }
                a{
                        cursor: pointer;
                        color: white;
                        font-family: apercu;
                        letter-spacing: .05em;
                        bottom: 25px;
                        position: absolute;
                        font-size: 20px;
                        float: left;
                        padding-bottom: 3px;
                        border-bottom-style: solid;
                        border-bottom-width: thin;
                        left: 5%;
                        /* text-decoration: underline; */
                    
                }a:hover{
                    text-decoration: none;
                }
                
            }
        }
        .bg-blanc{
            padding:0;
            height: 400px;
            .imgLienDroit{
                float: right;
                width: 98%;
                height: 100%;
                position: relative;
                right: 0;
                background-size:cover;
                background-position:center;
                background-repeat:no-repeat;
                 .titreSection{
                    left:5%;
                    float: left;
                    color:#f42534;
                    width: 40%;
                    top: 75px;
                    font-size: 56px!important;
                }
                a{
                    cursor: pointer;
                    color: #000;
                    font-family: apercu;
                    letter-spacing: .05em;
                    bottom: 25px;
                    position: absolute;
                    font-size: 20px;
                    float: left;
                    padding-bottom: 3px;
                    border-bottom-style: solid;
                    border-bottom-width: thin;
                    left: 5%;
                    /* text-decoration: underline; */ 
                }
                a:hover{
                    text-decoration: none;
                }
                
            }
        }
    }
    #instagramFeed {
        margin-left: -3%;
        margin-right: -3%;
        .instagramImage {
            padding: 0 50px;
            width: 25%;
            float: left;
            z-index: 10;
            position: relative;
            &:nth-child(1) {
                bottom: -90px;
            }
            &:nth-child(2) {
                bottom: 0px;
            }
            &:nth-child(3) {
                bottom: 90px;
            }
            &:nth-child(4) {
                bottom: 180px;
            }
            .image {
                background-size: cover;
                box-shadow: 2px 2px 12px rgba(130, 130, 130, 0.65);
                z-index: 14;
            }
        }
    }
    .borderBox {
        padding: 0px 0 0px;
        bottom: -50px;
    }
    .social.desktop {
        bottom: 60px;
        right: 2%;
    }
    .social.mobile {
        display: none;
        bottom: 70px;
        right: 2%;
    }
    #formulaireInscription {
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: -50px;
        width: 90%;
        padding-top: 110px;
        z-index: 1;
        label{
            /*display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
            position: relative;
            top: 0;*/
            position: relative;
            top: 35%;
            left: 0;
            right: 0;
            min-width: 100%;
            margin: 0;
            padding: 6px;
            border-radius: 0px;
            box-sizing: border-box;
            background: #ffffff;
        }
        p.formText{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 20px;
            padding-right: 20px;
            font-family: apercu;
            font-size: 16px;
            margin-bottom: 50px;
        }
        input[type='text'], input[type='email'] {
            border-style: none;
            border-bottom: #000;
            border-bottom-style: solid;
            margin-right: 50px;
            margin-left: 50px;
            text-align: center;
            padding-bottom:7px;
            width: 300px;
            margin-bottom: 50px;
            font-family: apercu;
            font-size: 16px;
            outline: none;
            transition :0.5s all;
            -webkit-appearance: none;
            border-radius: 0;
        }
        input[type=checkbox]{
            display: none;
        }
        input:checked + label {
            //color: white;
            color: #f42534!important;
            &:after{
                content: '-';
            }
        }
        select {
            background: transparent;
            border: none;
            width: 300px;
            padding-top: 11px;
            margin-left: 50px;
            margin-right: 50px;
            /* padding: 5px; */
            
            border-bottom-style: solid;
            border-bottom-color: #000;
            /* border-style: solid; */
            /* border-color: black; */
            /* border-top: none; */
            /* border-left: none; */
            /* border-right: none; */
            
            border-radius: 0;
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            -webkit-font-smoothing: antialiased;
            text-indent: 41%;
        }
        #listInterets{
            position: relative;
            display: inline-block;
            width: 300px;
            margin-right: 50px;
            margin-left: 50px;
            cursor: pointer;

                p{
                position:relative;
                border-style: none;
                border-bottom: #000;
                border-bottom-style: solid;
                text-align: center;
                padding-bottom: 7px;
                width: 300px;
                margin-bottom: 0;
                font-family: apercu;
                font-size: 16px;
                outline: none;
                -webkit-transition: all .5s;
                transition: all .5s;
                -webkit-appearance: none;
                border-radius: 0;
            }
            p:after{
                position: absolute;
                display: block;
                content: '+';
                font-weight: bolder;
                font-family: apercu;
                font-size: larger;
                bottom: 33px;
                right: 30%;
                /* margin-bottom: 25px; */
                /* -webkit-transform: rotate(45deg) translateY(-50%); */
                /* transform: rotate(-45deg) translateY(-50%); */
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                width: 0;
                height: 0;

            }

            &.active{
                p:after{
                    content: '-';
                }
            }
            
        }
            #list-interet{
                display: none;
            }
            ul{ 
                font-family: apercu;
                list-style:none;
                padding: 0;
                
                li{
                    width: 25%;
                    display: inline-block;
                    display: inline-block;
                    border-style: none;
                    border-bottom: #000;
                    /* border-bottom-style: solid; */
                    margin-right: 50px;
                    margin-left: 50px;
                    text-align: center;
                    padding-bottom: 7px;
                    width: 300px;
                    /* margin-bottom: 50px; */
                    font-family: apercu;
                    font-size: 14px;
                    outline: none;
                    -webkit-transition: all .5s;
                    transition: all .5s;
                    -webkit-appearance: none;
                    border-radius: 0;
                    

                    label{
                        -webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                        -webkit-transform-origin: 50% 0;
                        transform-origin: 50% 0;
                        cursor: pointer;

                    }
                    label:after{
                        position: absolute;
                        display: block;
                        content: '+';
                        font-weight: bolder;
                        font-family: apercu;
                        font-size: larger;
                        bottom: 27px;
                        right: 15%;
                        /* margin-bottom: 25px; */
                        /* -webkit-transform: rotate(45deg) translateY(-50%); */
                        /* transform: rotate(-45deg) translateY(-50%); */
                        /*-webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                        -webkit-transform-origin: 50% 0;
                        transform-origin: 50% 0;*/
                        width: 0;
                        height: 0;

                        }
                }
            }
        .triangleRouge{
            width: 100px;
            height: 75px;
            margin-left: auto;
            margin-right: auto;
            display: table;
        }
        .triangleRouge:before{
            content: "";
            display: table;
            position: relative;
            top: 40px;
            left: 00px;
            width: 0;
            height: 0;
            z-index: 9;
            border-top: 20px solid #ffffff;
            border-right: 20px solid transparent;

        }
        .submit {
            border: none;
            background-color: #f42534;
            color: rgba(255, 255, 255, 1);
            padding: 10px 20px 10px 20px;
            margin-top: 20px;
            outline: none;
            font-family: Apercu;
            width: 150px;
            text-align: center;
            margin-bottom: 70px;
            position: relative;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
        }
        .submit:before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            right: 130px;
            width: 0px;
            height: 0;
            border-top: 20px solid #ffffff;
            border-right: 20px solid transparent;
        }
        .submit:hover{
            color: rgba(255, 255, 255, 0.5);
        }
    }
    #mce-success-response{
       color: #22ce69;
       font-weight:bold;
    }
    .mce_inline_error{
        border-bottom: 3px solid #f42534 !important;
    }
 
    #mce-error-response{
        color: #f42534;
        font-weight:bold;
    }
}
@media only screen and (max-width: 1366px) {
    #listeProfessionel {
        .leftBox {
            padding-left: 60px;
        }
        #proContent {
            h3 {
                font-size: 42px!important;
                width: 300px;
            }
            ul {
                margin-left: 0px;
                font-size: 20px;
            }
        }
    }
    #approcheScientifique {
        .leftBox {
            padding-left: 60px;
        }
        .titreSection {
            top: 100px;
        }
        .borderBox {
            padding: 250px 0 100px;
            height: auto;
            position: relative;
        }
    }
    #formateursRenommes {
        .borderBox {
            padding: 250px 0 100px;
        }
        .titreSection {
            top: 100px;
        }
        .infoFormateur {
            background-color: #fff;
            padding-left: 60px;
            padding-top: 50px;
            padding-bottom: 50px;
            width: 103%;
            p {
                width: 85%;
            }
        }
        .imgBulle {
            width: 440px;
            .bulle2 {
                height: 100px;
                width: 100px;
                top: 130px;
                right: 280px;
                z-index: 4;
            }
            .bulle1 {
                height: 210px;
                width: 210px;
                top: 0px;
                right: 35px;
                z-index: 3;
            }
            .bulle3 {
                height: 100px;
                width: 100px;
                top: 80px;
                right: -245px;
                z-index: 4;
            }
            .bulle4 {
                height: 80px;
                width: 80px;
                top: -45px;
                right: -300px;
                z-index: 4;
            }
        }
    }
    #formationsVariee {
        .leftBox {
            padding-left: 60px;
        }
        .borderBox {
            padding: 250px 0 100px;
            .titreSection {
                margin-top: 100px;
            }
        }
        p {
            width: 85%;
        }
    }
    #pageContact {
        .custom-select-trigger{
            width: 235px;
                    }
        .custom-select-wrapper{
            margin-left: 20px;
            margin-right: 20px;
        }
        .titreSection {
            right: 0px;
        }
        #instagramFeed {
            margin-left: 0%;
            margin-right: 0%;
        }
        .instagramImage {
            padding: 0 10px!important;
        }
        .social {
            bottom: 70px;
            right: 15px;
        }
        #formulaireInscription {
            .triangleRouge:before{
                left: 0px;
            }
            p {
                width: 350px;
                clear: both;
            }
            input[type='text'], input[type='email'] {
                margin-right: 20px;
                margin-left: 20px;
                text-align: center;
                width: 235px;
            }
            select {
                margin-right: 20px;
                margin-left: 20px;
                text-align: center;
                width: 235px!important;
            }
            #listInterets {
                position: relative;
                display: inline-block;
                width: 235px;
                margin-right: 20px;
                margin-left: 20px;
                p{
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .custom-select-wrapper {
        margin-bottom: 100px;
        margin-left: 20px;
        margin-right: 20px;
        width: 80%;
        
    }
    .custom-select.sources {
            width: 100%;
        }
    .custom-select-trigger {
        position: relative;
        display: block;
        width: 100%!important;
        font-size: 16px;
        font-family: apercu;
        font-weight: 300;
        color: #000;
        background: #fff;
        border-bottom-color: #000;
        border-bottom-style: solid;
        cursor: pointer;
    }
    .carre {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 100px;
        left: 0;
        transform: inherit;
    }
    
    #listeProfessionel {
        height: auto;
        min-height: 70vh;
        .borderBox{
            height: 100%!important;
        }
        .textProfessionel {
            width: 100%;
        }
        .imgProfessionel {
            height: 350px;
            width: 100%;
        }
        #proContent {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 80px;
        }
    }
    #approcheScientifique {
        .borderBox {
            padding: 130px 0 100px;
        }
        .titreSection {
            left: 6%;
            top: 0;
            position: relative;
            margin-bottom: 50px;
            font-size: 38px!important;
            letter-spacing: 3.5px;
        }
        .leftBox {
            padding-left: 0px;
            margin-top: 0px;
            padding: 0;
            .electrocardiogram {
                width: 300px;
                img {
                    width: 85%;
                    padding: 0;
                    margin-bottom: 55px;
                }
            }
        }
        .rightBox {
            p {
                font-size: 16px;
                width: 85%;
                position: relative;
                margin-left: 6%;
            }
        }
    }
    #formateursRenommes {
        .titreSection {
            position: relative;
            top: 0;
            left: 6%;
            font-size: 38px!important;
        }
        .borderBox {
            padding: 130px 0 100px;
        }
        .leftBox {
            margin-bottom: 0px;
            padding: 0;
        }
        .rightBox {
            background-color: white;
            .infoFormateur {
                width: 100%;
                padding-left: 0;
                p {
                    margin-left: 6%;
                    width: 85%;
                    font-size: 16px;
                }
                ul {
                    margin-left: 6%;
                    font-size: 16px;
                    width: 85%;
                }
            }
        }
        .imgBulle {
            width: 620px;
            .bulle2 {
                height: 100px;
                width: 100px;
                top: 130px;
                right: 70%;
                z-index: 4;
            }
            .bulle1 {
                height: 210px;
                width: 210px;
                top: 0;
                right: 25%;
                z-index: 3;
            }
            .bulle3 {
                height: 100px;
                width: 100px;
                top: 80px;
                right: -20%;
                z-index: 4;
            }
            .bulle4 {
                height: 80px;
                width: 80px;
                top: 45px;
                right: -44%;
                z-index: 4;
            }
        }
    }
    #formationsVariee {
        .borderBox {
            padding: 130px 0 100px;
            .titreSection {
                position: relative;
                top: 0;
                margin-top: 0;
                margin-bottom: 50px;
                left: 6%;
                font-size: 38px!important;
            }
            .leftBox {
                padding-left: 0px;
                margin-top: 0px;
                padding: 0;
                .triangle {
                    width: 300px;
                    img {
                        width: 85%;
                        margin-bottom: 70px;
                    }
                }
            }
            .rightBox {
                .infoFormation {
                    margin-left: 0;
                    p {
                        margin-left: 6%;
                        width: 85%;
                        font-size: 16px;
                        padding: 0;
                    }
                    ul {
                        margin-left: 6%;
                        width: 85%;
                        font-size: 16px;
                        padding: 0;
                    }
                }
            }
        }
    }
    #pageContact {
        .footerBloc{
            .lienGauche{
                .imgLienGauche{
                    width: 100%;
                }
            }
            .lienDroit{
                .imgLienDroit{
                    width: 100%;
                }
            }
        }
        .borderBox{
            padding: 0;
            bottom: 0;
        }
        .containerFeed {
            width: 100%;
            overflow: hidden;
            bottom: 0;
        }
        #instagramFeed {
            margin-left: 0;
            margin-right: 0;
            margin-top: 200px;
            margin-bottom: 50px;
            .instagramImage {
                &:nth-child(1) {
                    bottom: 0px;
                }
                &:nth-child(2) {
                    bottom: 0px;
                }
                &:nth-child(3) {
                    bottom: 0px;
                }
                &:nth-child(4) {
                    bottom: 0px;
                }
            }
        }
        .social.desktop {
            display: none;
        }
        .social.mobile {
            display: unset;
            position: relative;
            padding: 0;
            width: 100%;
            left: 0;
            top: 0;
            li {
                margin-bottom: 60px;
                margin-top: 60px;            
            }
        }
        .titreSection {
            position: relative;
            top: 0;
            font-size: 50px!important;
        }
        #formulaireInscription {
            margin-bottom: 0px;
            width: 100%;
            input[type='text'], input[type='email'] {
                width: 80%;
            }
            select {
                width: 80%;
                margin-bottom: 50px;
            }
            #listInterets{
                width: 80%;
                margin-bottom: 30px;
            }

            #list-interet{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            ul{
                li{
                    width: 49%;
                }
            }

        }
    }
    .custom-select-trigger:after {
    position: relative;
    display: block;
    content: '';
    float: right;
    margin-top: 10px;
    right: 40%;
}
}

@media only screen and (max-width: 768px) {
    #listeProfessionel .imgProfessionel {
    height: 250px;
    width: 100%;
    background-position: 50% 40%;
}
    #pageContact {
        .containerFeed {
            overflow-x: scroll;
            #instagramFeed {
                width: 854px;
                .instagramImage {
                    width: auto;
                    padding: 0!important;
                    margin-right: 18px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    .image {
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
        #formulaireInscription ul li{
            width: 98%;
        }       
    }

}
@media only screen and (max-width: 580px) {
    #approcheScientifique {
    background:url(../images/background_red_min1.png) repeat-y 5% 0,  
    url(../images/background_red_min1.png) repeat-y 95% 0,
    url(../images/background_red_min1.png) repeat-y center,
    #f42534; 
}
    #formateursRenommes {
        background:url(../images/background_grey_min1.png) repeat-y 5% 0,  
        url(../images/background_grey_min1.png) repeat-y 95% 0,
        url(../images/background_grey_min1.png) repeat-y center,
        #F2F2F2; 
        .leftBox {
            padding: 0;
            .imgBulle {
                width: 60%;
                .bulle2 {
                    position: absolute;
                    height: 100px;
                    width: 100px;
                    top: 120px;
                    /* margin: 0; */
                    
                    left: 0;
                    float: none;
                    z-index: 4;
                }
                .bulle1 {
                    position: absolute;
                    height: 210px;
                    width: 210px;
                    top: 0;
                    left: 30px;
                    float: none;
                    z-index: 3;
                }
                .bulle3 {
                    position: absolute;
                    height: 100px;
                    width: 100px;
                    top: 55px;
                    left: 180px;
                    float: none;
                    z-index: 4;
                }
                .bulle4 {
                    position: absolute;
                    height: 80px;
                    width: 80px;
                    top: 25px;
                    left: 240px;
                    z-index: 4;
                    float: none;
                }
            }
        }
    }
    #formationsVariee {
        background:url(../images/background_red_min1.png) repeat-y 5% 0,  
        url(../images/background_red_min1.png) repeat-y 95% 0,
        url(../images/background_red_min1.png) repeat-y center,
        #f42534; 
    }
    #pageContact {
        background:url(../images/background_grey_min1.png) repeat-y 5% 0,  
        url(../images/background_grey_min1.png) repeat-y 95% 0,
        url(../images/background_grey_min1.png) repeat-y center,
        #F2F2F2;
        #formulaireInscription{
            p{
                    width: 85%;
            }
        }
    }
}
@media only screen and (max-width: 470px) {
    #formateursRenommes {
        .leftBox {
            .imgBulle {
                width: 70%;
            }
        }
    }
    .custom-select-trigger:after {
        position: relative;
        display: block;
        content: '';
        float: right;
        margin-top: 10px;
        right: 35%;
    }
    .custom-select.opened .custom-select-trigger:after {
        margin-top: 10px;
        -webkit-transform: rotate(-225deg) translateY(-50%);
        transform: rotate(-225deg) translateY(-50%);
    }
    #pageContact #formulaireInscription ul li label:after {
        position: absolute;
        display: block;
        content: '+';
        font-weight: bolder;
        font-family: apercu;
        font-size: larger;
        bottom: 27px;
        right: 8%;
        width: 0;
        height: 0;
    }
    #pageContact #formulaireInscription ul li label {
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        /* padding-right: 37px; */
        /* text-align: left; */
        font-size: 13px;
    }
}
@media only screen and (max-width: 360px) {


    #formateursRenommes {
        .leftBox {
            .imgBulle {
                width: 90%;
            }
        }
    }
}